
.listRow {
  background: #24252E;
  padding: 0.5em;


  height: 50px;

  display: grid;
  grid-template-columns: 5fr 50px 30px 30px;

  border-radius: 4px;
  border: 2px solid #323443;
}

.listRow:not(:last-child) {
  margin-bottom: 3px;
}

.listRow button {
  cursor: pointer;
  height: 2em;
  margin-left: 0.5em;
}

.input {
  outline: none;
  border: none;
  background: transparent;
  color: white;
}
