.root {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;

  outline: none;

  & > img {
    filter: invert(60%);
  }
}

.root:hover > img {
  filter: invert(0%);
  transition: 0.3s;
}
